* {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  display: flex;
  padding: 15px;
}

header div {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.spotify-logo {
  width: 150px;
}

.menu { 
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 20px;
}